---
/**
 * 背景コンポーネント
 *
 * レイアウト:
 * - 背景色の設定
 * - グラデーションの制御
 * - パターンの表示
 *
 * 用途:
 * - セクションの背景設定
 * - ビジュアル要素の追加
 * - デザインの統一感の創出
 * - アクセントの付与
 */
export interface Props {
  isDark?: boolean;
}

const { isDark = false } = Astro.props;
---

<div class:list={['absolute inset-0', { 'bg-dark dark:bg-transparent': isDark }]}>
  <slot />
</div>
